/* header section */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    height: 410px;
}

.header-box1 {
    width: 100%;
    height: 410px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-top: 40px;
}

.header-box2 img {
    width: 330px;
    height: 375px;
    padding-left: 30px;
    margin-top: 18px;
    margin-top: 0;
}

/* main section css */
.main-box {
    display: block;

}

.box-items-1 {
    display: inline;
    background-color: whitesmoke;


}

.buttons-box a,
button {
    display: inline;
    text-decoration: none;
}

#btn-1 {
    background-color: lightblue;
}

#btn-2 {
    background-color: slategrey;
}

.box-items-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 10px;
}

.player-box {
    width: 95%;
    height: 100%;
}